@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

@font-face {
  font-family: 'MeltdownMF';
  src: url('/fonts/MeltdownMF.ttf') format('truetype');
}

@font-face {
  font-family: 'Top Secret';
  src: url('/fonts/Top Secret.ttf') format('truetype');
}

// @font-face {
//   font-family: 'Knockout-HTF54-Sumo';
//   src: url('/fonts/knockout-htf54-sumo.eot') format('embedded-opentype');
//   src: url('/fonts/knockout-htf54-sumo.ttf') format('truetype');
//   src: url('/fonts/knockout-htf54-sumo.woff') format('woff');
// }

// @font-face {
//   font-family: 'Knockout-HTF93-UltmtHeviwt';
//   src: url('/fonts/knockout-htf93-ultmtheviwt.eot') format('embedded-opentype');
//   src: url('/fonts/knockout-htf93-ultmtheviwt.ttf') format('truetype');
//   src: url('/fonts/knockout-htf93-ultmtheviwt.woff') format('woff');
// }

body {
  letter-spacing: 0.05em;
}

$sauce-green: #3A2;

$theflow-wordsauce-title-color: #A0B6B0;

.sauce-font {
  //font-family: 'Top Secret';
  font-family: 'Knockout-HTF93-UltmtHeviwt', Verdana, 'Helvetica Neue', sans-serif;
}

.top-bar .name h1 a {
  color: $theflow-wordsauce-title-color;
}

.top-bar .top-bar-section ul li a {
  color: $theflow-wordsauce-title-color;
  font-family: 'Knockout-HTF33-JuniorHeviwt', Verdana, 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
}

// h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
//   color: #a4a4a4;
// }

.hero-image img {
  margin-bottom: rem-calc(24);
  width: 100%;
}

.soundcloud-icon {
  margin-right: rem-calc(6);
}

.sauce-media-thumb {
  @include thumb;
  margin-bottom: 10px;
}

.prtm-indicator {
  color: red;
}

.sauce-contact {
  .social-icons {
    margin: 12px 0;
    .webicon {
      margin: 0 8px 0 0;
    }
  }
}

.reverbnation-icon {
  background: url('/images/reverbnation_logo_light_small.png') no-repeat;
  display: inline-block;
  width: 292px;
  height: 48px;
  margin-bottom: 5px;
  text-align: left;
  text-indent: -9999px;
}

// *** EPK ***
.epk-title {
  color: #3A2;
}

.sauce-epk {
  .photo-row {
    margin: 20px 0;
    a {
      margin-bottom: 20px;
    }
  }
  .show-highlights {
    margin-bottom: 20px;
  }
}
