@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

body {
  background-color: #ddd;
}

@font-face {
  font-family: 'MeltdownMF';
  src: url('/fonts/MeltdownMF.ttf') format('truetype');
}

@font-face {
  font-family: 'Top Secret';
  src: url('/fonts/Top Secret.ttf') format('truetype');
}

$sauce-green: #3A2;

.sauce-font {
  font-family: 'Top Secret';
}

.top-bar .name h1 a {
  color: $sauce-green;
}

.soundcloud-icon {
  margin-right: rem-calc(6);
}

.sauce-media-thumb {
  @include thumb;
  margin-bottom: 10px;
}

.prtm-indicator {
  color: red;
}

.sauce-contact {
  .social-icons {
    margin: 12px 0;
    .webicon {
      margin: 0 8px 0 0;
    }
  }
}

.reverbnation-icon {
  background: url('/images/reverbnation_logo_light_small.png') no-repeat;
  display: inline-block;
  width: 292px;
  height: 48px;
  margin-bottom: 5px;
  text-align: left;
  text-indent: -9999px;
}

// *** EPK
.epk-title {
  color: #3A2;
}

div.sauce-epk div.show-highlights {
  margin-bottom: 20px;
}
