@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

@font-face {
  font-family: 'MeltdownMF';
  src: url('/fonts/MeltdownMF.ttf') format('truetype');
}

@font-face {
  font-family: 'Top Secret';
  src: url('/fonts/Top Secret.ttf') format('truetype');
}

@font-face {
  font-family: 'Knockout-HTF33-JuniorHeviwt';
  src: url('/fonts/Knockout-HTF33-JuniorHeviwt.eot');
  src: url('/fonts/Knockout-HTF33-JuniorHeviwt.woff2') format('woff2'),
       url('/fonts/Knockout-HTF33-JuniorHeviwt.woff') format('woff'),
       url('/fonts/Knockout-HTF33-JuniorHeviwt.ttf') format('truetype'),
       url('/fonts/Knockout-HTF33-JuniorHeviwt.svg#Knockout-HTF33-JuniorHeviwt') format('svg'),
       url('/fonts/Knockout-HTF33-JuniorHeviwt.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Knockout-HTF93-UltmtHeviwt';
  src: url('/fonts/Knockout-HTF93-UltmtHeviwt.eot');
  src: url('/fonts/Knockout-HTF93-UltmtHeviwt.woff2') format('woff2'),
       url('/fonts/Knockout-HTF93-UltmtHeviwt.woff') format('woff'),
       url('/fonts/Knockout-HTF93-UltmtHeviwt.ttf') format('truetype'),
       url('/fonts/Knockout-HTF93-UltmtHeviwt.svg#Knockout-HTF93-UltmtHeviwt') format('svg'),
       url('/fonts/Knockout-HTF93-UltmtHeviwt.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  letter-spacing: 0.05em;
}

$sauce-green: #3A2;

$theflow-wordsauce-title-color: #A0B6B0;

// Palette color codes */
// Palette URL: http://paletton.com/#uid=63y0u0koZjgedq8jImNtZfKD9cb */

$color-primary-0: #1B4263;  // Main Primary color */
$color-primary-1: #4F6D86;
$color-primary-2: #325775;
$color-primary-3: #0A3151;
$color-primary-4: #03243F;

$color-secondary-1-0: #25246B;  // Main Secondary color (1) */
$color-secondary-1-1: #5C5A92;
$color-secondary-1-2: #3E3C7F;
$color-secondary-1-3: #131258;
$color-secondary-1-4: #090744;

$color-secondary-2-0: #176848;  // Main Secondary color (2) */
$color-secondary-2-1: #4F8E74;
$color-secondary-2-2: #2F7C5D;
$color-secondary-2-3: #055535;
$color-secondary-2-4: #004227;

$color-complement-0: #996722; // Main Complement color */
$color-complement-1: #D0A974;
$color-complement-2: #B68646;
$color-complement-3: #7D4C08;
$color-complement-4: #613800;

li {
  color: $color-complement-1;
}

.sauce-font {
  //font-family: 'Top Secret';
  font-family: 'Knockout-HTF93-UltmtHeviwt', Verdana, 'Helvetica Neue', sans-serif;
}

.top-bar .name h1 a {
  color: $theflow-wordsauce-title-color;
}

.top-bar .top-bar-section ul li a {
  color: $theflow-wordsauce-title-color;
  font-family: 'Knockout-HTF33-JuniorHeviwt', Verdana, 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
}

// h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
//   color: #a4a4a4;
// }

.hero-image img {
  margin-bottom: rem-calc(24);
  width: 100%;
}

.soundcloud-icon {
  margin-right: rem-calc(6);
}

.sauce-media-thumb {
  @include thumb;
  margin-bottom: 10px;
}

.prtm-indicator {
  color: red;
}

.sauce-contact {
  .social-icons {
    margin: 12px 0;
    .webicon {
      margin: 0 8px 0 0;
    }
  }
}

.reverbnation-icon {
  background: url('/images/reverbnation_logo_light_small.png') no-repeat;
  display: inline-block;
  width: 292px;
  height: 48px;
  margin-bottom: 5px;
  text-align: left;
  text-indent: -9999px;
}

// *** EPK ***
.epk-title {
  color: #3A2;
}

.sauce-epk {
  .photo-row {
    margin: 20px 0;
    a {
      margin-bottom: 20px;
    }
  }
  .show-highlights {
    margin-bottom: 20px;
  }
}
