
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h3>The Band</h3>
      <hr>
      <p>
        Wordsauce is a 7 piece Live Hip Hop/Funk band, based in San Luis Obispo, California, formed by Drummer Bill Gerhardt and Bassist Wesley Price in 2009. With Guitarists Kevin Strong and Shawn Warnke, Saxophonist Samuel Franklin, Turntablist/Producer Eric Mattson, and Emcee/Vocalist/Producer Rick &ldquo;Risko&rdquo; Loughman all joining the band by 2010,
        Wordsauce began developing their own style of live band Hip Hop with instrumentation rooted in Funk, mixed with a vocal style that balances intensely rhythmic lyrical form with catchy melodies.
        Their first full-length album, <em>The&nbsp;Flow</em> (2015), exhibited the broad spectrum of influences contained within the eclectic group of seven.
        Where forms of Rock influenced the direction of certain tunes on <em>The&nbsp;Flow</em>, the influences of Funk, RnB &amp; Soul have been refined and expanded on in their second album, <em>Juice</em>.
        The result is a polished and effective body of work that translates very well to their live show.
        Wordsauce has been pushing the boundaries of live Hip Hop music while delivering high-energy performances up and down the West Coast since 2009.
        In recent years, they have broken into the festival circuit with appearances at High Sierra Music Festival, Live Oak Music Festival, Surf Rodeo, Big Surreal and more.
        They have shared the stage with the likes of Jurrasic 5, Bone Thugz n Harmony, Del the Funky Homosapien, Freddie Gibbs, The Motet, Turkuaz, Soul Scratch, and many others.
        With their new album <em>Juice</em>, Wordsauce has shown that their music is constantly evolving and that they’re determined to take their live show all over the world.
      </p>
      <hr>
      <h3>Members</h3>
      <ul>
        <li>Rick &ldquo;Risko&rdquo; Loughman - Vocals</li>
        <li>Billy G - Drums</li>
        <li>Wesley Price - Bass</li>
        <li>Kevin Strong - Guitar</li>
        <li>Shawn Warnke - Guitar</li>
        <li>Sam Franklin - Sax &amp; Keys</li>
        <li>Eric &ldquo;EMortal&rdquo; Mattson - Turntables &amp; Synth</li>
      </ul>
    </div>
  </div>
</div>
