
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h3>The Band</h3>
      <hr>
      <p>Wordsauce is an 8 piece live Hip Hop/Funk band, based in San Luis Obispo, California, formed by Drummer Bill Gerhardt and Bassist Wesley Price in 2009. With Guitarists Kevin Strong and Shawn Warnke, Saxophonist Samuel Franklin, Turntablist/Producer Eric Mattson, and Emcee/Vocalist/Producer Rick Loughman all joining the band by 2010, Wordsauce began developing their own style of Hip Hop with live instrumentation. Emcee/Vocalist/Conga player Patrick Braddock joined the band in 2012 after meeting Loughman in a music history class in junior college. With a diverse combination of musical backgrounds, Wordsauce has thrived on open-mindedness in the song writing process and has established a sound that captivates crowds of all demographics. What makes Wordsauce unique is their ability to incorporate Funky dance grooves, smooth, Jazz influenced Hip Hop beats, driving Rock N Roll riffs, and hints of Ska and Reggae into a cohesive catalog of songs; a style described by Loughman as &ldquo;RockNFlow&rdquo;. The variety of musical backings has driven Loughman to expand his dynamics as a vocalist, which at the time he joined Wordsauce were limited to a more straight forward rap style. </p>
      <p>Despite members being spread out over the state for several years while attending different universities, <small>(Samuel Franklin- Cal State Northridge University: Jazz Performance, Eric Mattson- California State University, Chico: Music Industry &amp; Technology: Audio Recording, Rick Loughman- Cal State University Dominguez Hills: Digital Media Arts: Audio Recording)</small>, Wordsauce continued to play shows and work on new music. Re-connecting in San Luis Obispo in the summer of 2014, Wordsauce released their EP titled &ldquo;The Leak&rdquo;, and completed their first tour which took them from San Diego, CA, to Central Oregon over the course of 30 days. Following the tour, Wordsauce began working on their first full length studio album, &ldquo;The Flow&rdquo;, which was released on July 18th, 2015. With plans of releasing more music in 2015 and 2016, Wordsauce looks forward to playing more festivals and major venues in California while also launching an interstate tour. Their music can be found on <a href="https://itunes.apple.com/us/artist/wordsauce/id897730585">iTunes</a>, Spotify, <a href="https://wordsaucemusic.bandcamp.com/">Bandcamp</a>, <a href="https://soundcloud.com/wordsauce">Soundcloud</a>, and <a href="https://www.youtube.com/channel/UCufXtBvJkULTlyET9BzN-QA">Youtube</a>.</p>
      <hr>
      <h3>Members</h3>
      <ul>
        <li>K.I.D. Rick - Vocals</li>
        <li>Billy G - Drums</li>
        <li>Wesley Price - Bass</li>
        <li>Kevin Strong - Guitar</li>
        <li>Shawn Warnke - Guitar</li>
        <li>Sam Franklin - Sax</li>
        <li>EMortal - DJ</li>
      </ul>
    </div>
  </div>
</div>
