
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h3>The Band</h3>
      <hr>
      <p>
        Wordsauce was formed in 2009 by a group of young, supple alcohol enthusiasts. Through many misadventures over the years, they have proven that not only do we want the funk, but we gotta have that funk. In June 2014, Wordsauce released their debut EP, XXX XXXX, and will be dominating on their first west coast tour during the Summer of 2014. <i><small>(citation needed)<small></i>
      </p>
      <hr>
      <h3>Members</h3>
      <ul>
        <li>K.I.D. Rick - Vocals</li>
        <li>James Kaye - Vocals</li>
        <li>Billy G - Drums</li>
        <li>Wesley Price - Bass</li>
        <li>Kevin Strong - Guitar</li>
        <li>Shawn Warnke - Guitar</li>
        <li>Sam Franklin - Sax</li>
        <li>EMortal - DJ</li>
      </ul>
    </div>
  </div>
</div>
