
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h3>The Band</h3>
      <hr>
      <p>
        Wordsauce was formed in 2009 by a group of musicians living in San Luis Obispo, CA. Built on the idea of 
        Cross-Contamination, the Sauce brings together members from highly diverse backgrounds and experience in many 
        styles of music. Their mission is to spread good vibes and awesome music from the central coast to the nation, 
        and eventually to the world.
      </p>
      <p>
        Their first release was in 2010, the &ldquo;Live in the Studio EP&rdquo;, which was recorded in a single session 
        at Cuesta College's recording studio. Since then, Wordsauce has played all over the state of California, 
        in backyards, bars, benefit shows, and outdoor festivals.
      </p>
      <p>
        Wordsauce's newest EP, &ldquo;The Leak&rdquo;, was released Summer 2014. They followed this with their first ever tour,
        playing over twenty shows up and down the coast of California and Oregon during the month of August 2014. Wordsauce is now back
        in the studio working on their first full length album, along with a new single and music video.
      </p>
      <hr>
      <h3>Members</h3>
      <ul>
        <li>K.I.D. Rick - Vocals</li>
        <li>Billy G - Drums</li>
        <li>Wesley Price - Bass</li>
        <li>Kevin Strong - Guitar</li>
        <li>Shawn Warnke - Guitar</li>
        <li>Sam Franklin - Sax</li>
        <li>EMortal - DJ</li>
      </ul>
    </div>
  </div>
</div>
