
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h3>Contact</h3>
      <hr>
      <dl>
        <dt>Facebook</dt><dd><a href="http://facebook.com/wordsauce" target="_blank">http://facebook.com/wordsauce</a></dd>
        <dt>Reverbnation</dt><dd><a href="http://reverbnation.com/wordsauce" target="_blank">http://reverbnation.com/wordsauce</a></dd>
        <dt>Soundcloud</dt><dd><a href="http://soundcloud.com/wordsauce" target="_blank">http://soundcloud.com/wordsauce</a></dd>
      </dl>
    </div>
  </div>
</div>
