
<% content_for :stylesheets do %>
<link rel="stylesheet" href="/stylesheets/webicons.css" type="text/css">
<% end %>

<div class="row">
  <div class="large-12 columns">
    <div class="panel sauce-contact">
      <h3>Contact</h3>
      <hr>
      <div class="social-icons">
        <a class="webicon facebook large" href="https://www.facebook.com/wordsauce" target="_blank">Like us on facebook</a>
        <a class="webicon instagram large" href="http://instagram.com/wordsaucecollective" target="_blank">Follow us on Instagram</a>
        <a class="webicon soundcloud large" href="https://soundcloud.com/wordsauce" target="_blank">Listen to Wordsauce on Soundcloud</a>
        <a class="webicon youtube large" href="https://www.youtube.com/channel/UCufXtBvJkULTlyET9BzN-QA" target="_blank">Wordsauce Youtube Channel</a>
        <a class="reverbnation-icon" href="http://www.reverbnation.com/wordsauce" target="_blank">Reverbnation</a>
      </div>
      <h4>Booking</h4>
      <ul class="vcard">
        <li class="email"><a href="mailto:<%= settings.booking_contact %>"><%= settings.booking_contact %></a></li>
      </ul>
    </div>
  </div>
</div>
