
<% content_for :stylesheets do %>
<link rel="stylesheet" href="/stylesheets/webicons.css" type="text/css">
<% end %>

<div class="row sauce-epk">
  <div class="large-12 columns panel">
    <h1><span class="sauce-font epk-title">Wordsauce</span> <small>multi-dimensional cross-contaminated flows</small></h1>
    <hr>

    <div class="row">
      <div class="large-8 columns">
        <p>
          Wordsauce is a 7 piece group of professional musicians from the central coast of California. Formed in 2010 the members combined their talents and experiences from several genres of music including jazz, reggae, funk, hip-hop, punk rock, and jam music to create a group that guarantees to bring a great time to any venue. Wordsauce specializes in adapting to the crowd and can easily play up to a 4 hour set.
        </p>
      </div>
      <div class="large-4 columns">
        <a class="th" href="/images/fb_photos/1292817_10152407503911838_8711870499142886256_o.jpg"><img src="/images/fb_photos/1292817_10152407503911838_8711870499142886256_o.jpg"></a>
      </div>
    </div>

    <h3>Past Performances</h3>
    <hr>
    <div class="row show-highlights">
      <div class="large-4 columns">
        <a class="th" href="/images/fb_photos/554881_10151754553876838_893307999_n.jpg"><img src="/images/fb_photos/554881_10151754553876838_893307999_n.jpg"></a>
      </div>
      <div class="large-8 columns">
        <h4>Rock N Flow <small>San Luis Obispo, CA</small></h4>
        <p>
          <blockquote>&ldquo;Wordsauce performed along with 10 other artists from Los Angeles, Ventura and San Luis Obispo throughout the day, leading up to headliners Mistah F.A.B. and Step Brothers.&rdquo;</blockquote>
          <a target="_blank" href="http://mustangnews.net/rock-n-flow-festival-returns-to-slo/">Read More...</a>
        </p>
      </div>
    </div>
    <div class="row show-highlights">
      <div class="large-8 columns">
        <h4>Surf Rodeo <small>Ventura, CA</small></h4>
        <p>
          <blockquote>
            &ldquo;Wordsauce is a rapping jazz-infusion thing, and they're killin it!&rdquo; <br>
            -JD Drury, founder of the Surf Rodeo
          </blockquote>
          <a target="_blank" href="http://surfrodeo.org/">http://surfrodeo.org/</a>
        </p>
      </div>
      <div class="large-4 columns">
        <a class="th" href="/images/fb_photos/1597671_10152137493136838_577140085_o.jpg"><img src="/images/fb_photos/1597671_10152137493136838_577140085_o.jpg"></a>
      </div>
    </div>
    <div class="row show-highlights">
      <div class="large-4 columns">
        <a class="th" href="/images/fb_photos/10397833_10204130000113284_2481029928011818278_n.jpg"><img src="/images/fb_photos/10397833_10204130000113284_2481029928011818278_n.jpg"></a>
      </div>
      <div class="large-8 columns">
        <h4>Chico State Audio Engineering Society Fundraiser</h4>
        <p>
          <blockquote>
            &ldquo;After intermission and refreshments, the venue was at its highest occupancy of the night as the crowd awaited to hear closing act WordSauce ... The musical collective was a diverse group of musicians that could only be described as a musical genre chimera of hip hop, funk and rock.&rdquo;
          </blockquote>
          <a target="_blank" href="http://theorion.com/blog/2014/02/21/audio-engineering-society-raises-money-during-a-night-of-rockin-music/">Read More...</a>
        </p>
      </div>
    </div>
    <div class="row show-highlights">
      <div class="large-8 columns">
        <h4>The Village Jester <small>Ojai, CA</small></h4>
        <p>
          <blockquote>
            &ldquo;Wordsauce have been playing at The Jester since 2010, and have always attracted a large, diverse, and energetic crowd. They consistently maintain a high-energy performance late into the evening. &rdquo;
          </blockquote>
          <a href="#" data-reveal-id="nigelModal">Read More...</a>
          <div id="nigelModal" class="reveal-modal" data-reveal>
            <p>
              &ldquo;Wordsauce is a wildly dynamic band with an entertaining and diverse array of sounds. They caress and demand attention from the ears in equal parts with a mixture of reggae, hip hop, pop, and rock. Wordsauce have been playing at The Jester since 2010, and have always attracted a large, diverse, and energetic crowd. They consistently maintain a high-energy performance late into the evening. They have shown an ability to create a vibe that allows the venue to transition easily from a late dinner crowd, to the early bar goers, and all the way through to last call with a dance floor still full and begging for more. All band members are professional not only in their interactions with myself as an owner, but also with every member of my staff from the time they walk in to the time they leave the building. Similarly, they are professional in all aspects of their performance. Simply put, they aren't the regular bar band, they are professionals from start to finish and an absolute joy to work with. As an owner, when Wordsauce is in the house I can relax. That is not the case with many bands. They have always been respectful of my establishment and, without fail, always express their appreciation for being given the opportunity to play. They are a great band to book!&rdquo;
            </p>
            <ul class="vcard">
              <li class="fn">Nigel Chisholm</li>
              <li class="">Owner, The Village Jester</li>
              <li class="locality">Ojai, CA</li>
              <li class="phone">895-640-8001</li>
              <li class="email">thevillagejester@gmail.com</li>
            </ul>
            <a class="close-reveal-modal">&#215;</a>
          </div>
        </p>
      </div>
      <div class="large-4 columns">
        <a class="th" href="/images/fb_photos/1382998_10204129973072608_1105405819525744922_n.jpg"><img src="/images/fb_photos/1382998_10204129973072608_1105405819525744922_n.jpg"></a>
      </div>
    </div>

    <div class="row">
      <div class="large-6 columns">
        <h3>Contact &amp; Booking</h3>
        <ul class="vcard">
          <li class="fn">Wesley Price</li>
          <li class="phone">(805) 235-3731</li>
          <li class="email"><a href="mailto:wes@wordsauce.org">wes@wordsauce.org</a></li>
        </ul>

        <div class="social-icons">
          <a class="webicon facebook" href="https://www.facebook.com/wordsauce">Like us on facebook</a>
          <a class="webicon instagram" href="http://instagram.com/wordsaucecollective">Follow us on Instagram</a>
          <a class="webicon soundcloud" href="https://soundcloud.com/wordsauce">Listen to Wordsauce on Soundcloud</a>
          <a class="webicon youtube" href="https://www.youtube.com/channel/UCufXtBvJkULTlyET9BzN-QA">Wordsauce Youtube Channel</a>
        </div>
      </div>
      <div class="large-6 columns">
        <h3>Music</h3>
        <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/2513587&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
      </div>
    </div>
  </div>
</div>
