
<div class="row">
  <div class="large-12 columns panel">
    <h1><span class="sauce-font epk-title">Wordsauce</span> <small>multi-dimensional cross-contaminated flows</small></h1>
    <hr>

    <div class="row">
      <div class="large-8 columns">
        <p>
          Wordsauce is a 7 piece group of professional musicians from the central coast of California. Formed in 2010 the members combined their talents and experiences from several genres of music including jazz, reggae, funk, hip-hop, punk rock, and jam music to create a group that guarantees to bring a great time to any venue. Wordsauce specialises in adapting to the crowd and can easily play up to a 4 hour set.
        </p>
      </div>
      <div class="large-4 columns">
        <img src="/images/fb_photos/1292817_10152407503911838_8711870499142886256_o.jpg">
      </div>
    </div>

    <h3>Past Performances</h3>
    <hr>
    <div class="row show-highlights">
      <div class="large-4 columns">
        <img src="/images/fb_photos/554881_10151754553876838_893307999_n.jpg">
      </div>
      <div class="large-8 columns">
        <h4>Rock N Flow <small>San Luis Obispo, CA</small></h4>
      </div>
    </div>
    <div class="row show-highlights">
      <div class="large-8 columns">
        <h4>Surf Rodeo <small>Ventura, CA</small></h4>
        <p>
          <a target="_blank" href="http://surfrodeo.org/">http://surfrodeo.org/</a>
        </p>
      </div>
      <div class="large-4 columns">
        <img src="/images/fb_photos/1597671_10152137493136838_577140085_o.jpg">
      </div>
    </div>
    <div class="row show-highlights">
      <div class="large-4 columns">
        <img src="/images/fb_photos/10397833_10204130000113284_2481029928011818278_n.jpg">
      </div>
      <div class="large-8 columns">
        <h4>Chico State Audio Engineering Society Fundraiser</h4>
        <p>
          <blockquote>
            After intermission and refreshments, the venue was at its highest occupancy of the night as the crowd awaited to hear closing act WordSauce ... The musical collective was a diverse group of musicians that could only be described as a musical genre chimera of hip hop, funk and rock.
          </blockquote>
          <a target="_blank" href="http://theorion.com/blog/2014/02/21/audio-engineering-society-raises-money-during-a-night-of-rockin-music/">Read More...</a>
        </p>
      </div>
    </div>
    <div class="row show-highlights">
      <div class="large-8 columns">
        <h4>The Village Jester <small>Ojai, CA</small></h4>
        <p>
          <a target="_blank" href="http://theorion.com/blog/2014/02/21/audio-engineering-society-raises-money-during-a-night-of-rockin-music/">Read More...</a>
        </p>
      </div>
      <div class="large-4 columns">
        <img src="/images/fb_photos/1382998_10204129973072608_1105405819525744922_n.jpg">
      </div>
    </div>

    <h3>Contact &amp; Booking</h3>
    <hr>
    <div class="row">
      <div class="large-12 columns">
        <ul class="vcard">
          <li class="fn">Wesley Price</li>
          <li class="phone">(805) 235-3731</li>
          <li class="email"><a href="mailto:wes@wordsauce.org">wes@wordsauce.org</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
