<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordsauce</title>
    <link rel="stylesheet" href="/stylesheets/app.css" type="text/css">

    <%= js :modernizr %>
  </head>
  <body>
    <div class="contain-to-grid">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1 class="sauce-font"><a href="#">WORDSAUCE</a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <ul>
            <li><a href="#">Media</a></li>
            <li><a href="#">Tour Dates</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="http://thesaucepot.info/" target="_blank">The Sauce Pot</a></li>
            <li><a href="https://www.facebook.com/wordsauce" target="_blank">Facebook</a></li>
          </ul>
        </section>
      </nav>
    </div>
    <%= yield %>

    <%= js :libs %>
    <%= js :application %>
  </body>
</html>
