<%
photos = [
  '10426793_10204129967632472_3158977448163769855_n.jpg',
  '10397833_10204130000113284_2481029928011818278_n.jpg',
  '10300907_10152373764531838_9147726803517365433_n.jpg',
  '10174871_10152374722323415_6289530079980901923_n.jpg',
  '1962550_10152240699456838_1287505934_o.jpg',
  '1597671_10152137493136838_577140085_o.jpg',
  '1557704_10152297907051838_888225988_n.jpg',
  '1382998_10204129973072608_1105405819525744922_n.jpg',
  '1292817_10152407503911838_8711870499142886256_o.jpg',
  '599649_10151523170116838_1585187482_n.jpg',
  '575854_10151523170401838_18348053_n.jpg',
  '554881_10151754553876838_893307999_n.jpg',
  '542429_10151123329101838_250086235_n.jpg',
  '477910_10150922210476838_1643508470_o.jpg',
  '392746_10151523170251838_1026796070_n.jpg',
  '302213_10151510798731838_1770270827_n.jpg',
  '28140_10151523170291838_150659333_n.jpg'
]
%>

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h3>Photos</h3>
      <hr>
      <ul class="clearing-thumbs" data-clearing>
        <% photos.each do |photo| %>
        <li><a class="sauce-media-thumb" href="/images/fb_photos/<%= photo %>"><img src="/images/thumbs/fb_photos/<%= photo %>"></a></li>
        <% end %>
      </ul>
      <h3>Videos</h3>
      <hr>
      <div class="row">
        <div class="large-6 columns">
          <div class="flex-video">
            <iframe width="560" height="315" src="//www.youtube.com/embed/VFNaL6GExK4" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="large-6 columns">
          <div class="flex-video">
            <iframe width="560" height="315" src="//www.youtube.com/embed/Kqswnoxokcc" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
