<%
media = {
  'fremont_photos' => [
    '20160122-DSC_1563.jpg',
    '20160122-DSC_1577.jpg',
    '20160122-DSC_1583.jpg',
    '20160122-DSC_1618.jpg',
    '20160122-DSC_1647.jpg',
  ],

  'fb_photos' => [
    '12810420_10156621338705501_39740845_o.jpg',
    '12788081_10156621338675501_1102947845_n.jpg',
    '905764_10153073066746838_1772731178391603513_o.jpg',
    '1491391_10153089153136838_8052874458081740924_o.jpg',
    '10372961_10152554207066838_7768978522296787528_o.jpg',
    '10443246_10152554206661838_8924407580563063468_o.jpg',
    '10477641_10152554205806838_6414707304610911757_o.jpg',
    '10549211_10152554207606838_1161620013992916032_o.jpg',
    '10553658_10152554219716838_5655361248190473386_o.jpg',
    '10855067_10153089151436838_6658772393726437937_o.jpg',
    '10857100_10153089143401838_3752101545118566614_o.jpg',
    '10923715_10153089142926838_7935189789289604147_o.jpg',
    '10981945_10153124638406838_7082791004496105278_o.jpg',
    '10996513_10153141873306838_1415138329771542250_o.jpg',
    '11036768_10153193179551838_5900974556283640572_o.jpg',
    '11113376_10153429147666838_6268182153842860967_o.jpg',

    '10426793_10204129967632472_3158977448163769855_n.jpg',
    '10397833_10204130000113284_2481029928011818278_n.jpg',
    '10300907_10152373764531838_9147726803517365433_n.jpg',
    '1962550_10152240699456838_1287505934_o.jpg',
    '1597671_10152137493136838_577140085_o.jpg',
    '1557704_10152297907051838_888225988_n.jpg',
    '1382998_10204129973072608_1105405819525744922_n.jpg',
    '1292817_10152407503911838_8711870499142886256_o.jpg',
    '599649_10151523170116838_1585187482_n.jpg',
    '575854_10151523170401838_18348053_n.jpg',
    '554881_10151754553876838_893307999_n.jpg',
    '542429_10151123329101838_250086235_n.jpg',
    '477910_10150922210476838_1643508470_o.jpg',
    '392746_10151523170251838_1026796070_n.jpg',
    '302213_10151510798731838_1770270827_n.jpg',
    '28140_10151523170291838_150659333_n.jpg'
  ]
}
%>

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h3>Photos</h3>
      <hr>
      <ul class="clearing-thumbs" data-clearing>
        <% media.each do |folder, photos| %>
          <% photos.each do |photo| %>
          <li><a class="sauce-media-thumb" href="/images/<%= folder %>/<%= photo %>"><img src="/images/thumbs/<%= folder %>/<%= photo %>"></a></li>
          <% end %>
        <% end %>
      </ul>
      <h3>Videos</h3>
      <hr>
      <div class="row">
        <div class="large-6 columns">
          <div class="flex-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/eDVpTtmWwWQ" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="large-6 columns">
          <div class="flex-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/uBwXVCqCP2Y" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="large-6 columns">
          <div class="flex-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/uBwXVCqCP2Y" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
