
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h3>Releases</h3>
      <hr>
      <div class="row">
        <div class="large-4 columns show-for-large-up">
          <img src="/images/albumart_theflow_front.jpg">
        </div>
        <div class="large-8 columns">
          <h4>The Flow <small>(2015)</small></h4>
          <p>Recorded at Speak Studios and The Sauce Pot Studios in San Luis Obispo, California. Edited by Richard Loughman, Mixed by Eric Mattson. Mastered by Hans Dekline at Sound Bites Dog Studios.</p>
          <h5>Tracklist:</h5>
          <ol>
            <li>Flavor (Intro) <small>prod. by Vangala</small></li>
            <li>La Costa <small>ft Kap K &amp; Samba Loca</small></li>
            <li>Move</li>
            <li>After Hours</li>
            <li>Don't Fight The Funk <small>(Putrid Beats interlude)</small></li>
            <li>We Now <small>co prod. by Vangala</small></li>
            <li>Rollin <small>ft Sean Collins</small></li>
            <li>Tri Tip</li>
            <li>Vagabond <small>ft Lemoore co prod. by Deepsee</small></li>
            <li>DFTF Interlude <small>prod. by EMortal</small></li>
            <li>Funklore <small>ft June &amp; Vince Cimo</small></li>
            <li>Catalyst <small>ft Kap K</small></li>
            <li>Green Lights <small>ft June, Keegan Harshman, Grant Chase &amp; Daniel Cimo (Deepsee Interlude)</small></li>
            <li>Electricity <small>ft Daniel Cimo</small></li>
            <li>The Flow</li>
            <li>Rhode to Chop City (Funklore Remix) <small>ft James Kaye &amp; Shawna Marie prod by Risko</small></li>
          </ol>
          <p>
            Download on <a href="http://wordsaucemusic.bandcamp.com/album/the-flow" target="_blank"><img src="http://s0.bcbits.com/img/buttons/bandcamp_130x27_white.png"></a>
          </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="large-4 columns show-for-large-up">
          <img src="/images/albumart_theleak_front.jpg">
        </div>
        <div class="large-8 columns">
          <h4>The Leak EP <small>(2014)</small></h4>
          <p>Recorded at The Sauce Pot Studios in San Luis Obispo, CA. Produced by Eric Mattson. Mastered by Cesar Mejia at The Shelter Studios.</p>
          <h5>Tracklist:</h5>
          <ol>
            <li>Clusterfunk</li>
            <li>Chuparosa <small>Ft. Lauren Lum</small></li>
            <li>West Coast Crunk <small>Ft. Kap K</small></li>
            <li>Out Of Phase <small>Ft. James Kaye</small></li>
            <li>I'll Be Around</li>
          </ol>
          <p>
            Download on <a href="http://wordsaucemusic.bandcamp.com/album/the-leak" target="_blank"><img src="http://s0.bcbits.com/img/buttons/bandcamp_130x27_white.png"></a>
          </p>
          <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/41426186&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="large-4 columns show-for-large-up">
          <img src="/images/liveinstudio_ep_artwork.png">
        </div>
        <div class="large-8 columns">
          <h4>Live in the Studio EP <small>(2010)</small></h4>
          <p>This is a one take set recorded at Cuesta College's studio in 2010. Special thanks to Connor Clay and Noah Briley for engineering. Mixed by Eric Mattson and mastered by Cleveland Bledsoe.</p>
          <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/2513587&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
