
  <div class="row">
    <div class="large-12 columns">
      <h1 class="sauce-font">WORDSAUCE</h1>
    </div>
  </div>

  <div class="row">
    <div class="large-6 medium-6 columns">
      <a href="#" class="medium radius button">Download</a>
    </div>
    <div class="large-6 medium-6 columns">
      <a href="https://soundcloud.com/wordsauce" class="medium radius button" target="_blank">Stream</a>
    </div>
  </div>
