
  <% captions = [
    'Multi-Dimensional.',
    'The sauce is the boss',
    'Cross-Contaminated',
    'Catch Wordsauce at Rock n\' Flow 2015!',
    'New EP The Leak out soon!',
    'Only 2014\'s kids will know this',
    'salsa de palabra',
    'ponte tus zapatos de baile'
  ]
  %>

  <div class="row hero-image">
    <div class="large-12 columns">
      <img src="/images/slider/slide_3.jpg" alt="Wordsauce at the Surf Rodeo">
    </div>
  </div>

  <div class="row" data-equalizer>
    <div class="large-6 medium-6 columns" data-equalizer-watch>
      <div class="panel">
        <h3>Wordsauce TV Episode 1</h3>
        <p>Check out this footage from the Sauce or Die Tour!</p>
        <div class="flex-video">
          <iframe width="560" height="315" src="//www.youtube.com/embed/TvwKx-E8N-E" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="panel">
        <h3>New music video coming soon!</h3>
        <p>Wordsauce is currently in the studio working on a new single + music video. Here is a teaser from the latest session:</p>
        <div class="flex-video">
          <iframe width="560" height="315" src="//www.youtube.com/embed/kkl_etKbtSA" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="large-6 medium-6 columns" data-equalizer-watch>
      <div class="panel">
        <%= erb :upcoming_shows %>
      </div>
      <div class="panel">
        <%= erb :listento_theleak %>
      </div>
    </div>
  </div>
