<%
  def panel(name)
    erb :"frontpage_panels/#{name}"
  end

  content_panels = [
    :juice_release,
    :hotlive_single,
    :she_dont_know,
    #:highsierra_win,
    :maybeI_sierra,
    # :rollin,
    # :afterhours,
    # :wenow_new
  ]
%>
  <div class="row hero-image">
    <div class="large-12 columns">
      <a href="http://www.ticketfly.com/event/1711681-wordsauce-album-release-party-morro-bay/" target="_blank">
        <img src="/images/albumrelease_2018_banner.jpg" alt="Wordsauce Album Release Party 8/11 at The Siren with special guests Mannequins By Day">
      </a>
    </div>
  </div>

  <div class="row" data-equalizer>
    <div class="large-6 medium-6 columns" data-equalizer-watch>
      <% content_panels.each do |panel_name| %>
      <div class="panel">
        <%= panel panel_name %>
      </div>
      <% end %>
    </div>
    <div class="large-6 medium-6 columns" data-equalizer-watch>
      <div class="panel">
        <%= erb :upcoming_shows %>
      </div>
      <div class="panel">
        <%= panel :listento_juice %>
      </div>
    </div>
  </div>
