<%
  def panel(name)
    erb :"frontpage_panels/#{name}"
  end

  content_panels = [
    :summer_2019,
    :wordsauce_18_promo,
    :juice_release,
    :hotlive_single,
    :she_dont_know,
    #:highsierra_win,
    :maybeI_sierra,
    # :rollin,
    # :afterhours,
    # :wenow_new
  ]
%>
  <div class="row hero-image">
    <div class="large-12 columns">
      <img src="/images/banner/TYOS_website banner.jpg" alt="10 Years Of Sauce" title="10 Years Of Sauce">
    </div>
  </div>

  <div class="row" data-equalizer>
    <div class="large-6 medium-6 columns" data-equalizer-watch>
      <div class="panel show-for-small-only">
        <%= erb :upcoming_shows %>
      </div>
      <% content_panels.each do |panel_name| %>
      <div class="panel">
        <%= panel panel_name %>
      </div>
      <% end %>
    </div>
    <div class="large-6 medium-6 columns show-for-medium-up" data-equalizer-watch>
      <div class="panel">
        <%= erb :upcoming_shows %>
      </div>
      <div class="panel">
        <%= panel :listento_juice %>
      </div>
    </div>
  </div>
