
  <div class="row">
    <div class="large-12 columns">
      <ul data-orbit data-options="slide_number:false;">
        <% (1..5).each do |i| %>
        <li>
          <img src="/images/slider/sauce_bg_<%= i %>.jpg" alt="slide <%= i %>" />
          <div class="orbit-caption">
            <%= ['Damn, that\'s saucy.', 'The sauce is the boss', 'Cross-Contaminated', 'Catch Wordsauce at Rock n\' Flow 2015!', 'New EP xxx-xxxx in stores now!', 'Only 2014\'s kids will know this', 'salsa de palabra'].sample %>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="row" data-equalizer>
    <div class="large-6 medium-6 columns">
      <div class="panel" data-equalizer-watch>
        <h3>Download</h3>
        <p>
          Wordsauce has finally released their debut EP, "*****", on XX/XX/20XX! 
          Download it for free, or find us on iTunes, Spotify, Last.fm, Spacewood Radio, etc....
        </p>
        <a href="#" class="medium radius success  button">Download</a>
      </div>
    </div>
    <div class="large-6 medium-6 columns">
      <div class="panel" data-equalizer-watch>
        <h3>Stream</h3>
        <p>
          Stream Wordsauce's new EP "*****", released on XX/XX/20XX
        </p>
        <a href="https://soundcloud.com/wordsauce" class="medium radius alert button" target="_blank"><img class="soundcloud-icon" src="/images/soundcloud_icon.png"> Stream</a>
      </div>
    </div>
  </div>
