
  <% captions = [
    'Multi-Dimensional.',
    'The sauce is the boss',
    'Cross-Contaminated',
    'Catch Wordsauce at Rock n\' Flow 2015!',
    'New EP The Leak out soon!',
    'Only 2014\'s kids will know this',
    'salsa de palabra',
    'ponte tus zapatos de baile'
  ]
  %>

  <div class="row hero-image">
    <div class="large-12 columns">
      <a href="http://booboorecords.com/" target="_blank"><img src="/images/album_at_booboos.jpg" alt="New album The Flow now available on itunes spotify bandcamp"></a>
    </div>
  </div>

  <div class="row" data-equalizer>
    <div class="large-6 medium-6 columns" data-equalizer-watch>
      <div class="panel">
        <a href="http://www.wild1061.com/" target="_blank"><img src="/images/wild106_wordsauce.jpg"></a>
        <p style="margin-top: 20px; text-align: center;">
          Listen to us now on <a href="http://www.wild1061.com/" target="_blank">WiLD 106.1</a>!
        </p>
      </div>
      <div class="panel">
        <h3>Sauce Docs - Part 1</h3>
        <p>
          Check out this closer look into who Wordsauce is and what the album is about, courtesy of Nigel Prolix Moran of 11:11 Productions.
        </p>
        <div class="flex-video">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/uBwXVCqCP2Y" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="panel">
        <h3>&ldquo;After Hours&rdquo; - Wordsauce</h3>
        <p>The 2nd single off our debut album &ldquo;The Flow&rdquo;, out July 18th!</p>
        <div class="flex-video">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/CrHRdGHyBvc" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="panel">
        <h3>New music video!</h3>
        <p>We are pleased to announce the release of the first single and video off our upcoming album! Check it out and share it with your friends!</p>
        <div class="flex-video">
          <iframe width="560" height="315" src="//youtube.com/embed/eDVpTtmWwWQ" frameborder="0" allowfullscreen></iframe>
        </div>
        <p>Recorded at Speak Studios <a href="http://www.speakstudioscoop.com/" target="_blank">http://www.speakstudioscoop.com/</a></p>
      </div>
    </div>
    <div class="large-6 medium-6 columns" data-equalizer-watch>
      <div class="panel">
        <%= erb :upcoming_shows %>
      </div>
      <div class="panel">
        <%= erb :listento_theflow %>
      </div>
      <div class="panel">
        <h3>Wordsauce TV Episode 1</h3>
        <p>Check out this footage from the Sauce or Die Tour!</p>
        <div class="flex-video">
          <iframe width="560" height="315" src="//www.youtube.com/embed/TvwKx-E8N-E" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
