<%
# Should link to venue and location
shows = [
  { date: '7/13/2014', location: 'Ventura, CA', venue: 'Surf Rodeo @ Pierpont Beach', links: ['http://surfrodeo.org'] },
  #{ date: '7/29/2014', location: 'San Luis Obispo, CA', venue: 'Frog N Peach', links: [] },
  #{ date: '8/1/2014', location: 'Ojai, CA', venue: 'The Village Jester', links: [] },
  { date: '8/2/2014', location: 'Ventura, CA', venue: 'Bombay Bar &amp; Grill', links: [] },
  { date: '8/13/2014', location: 'Gilroy, CA', venue: 'Studio 222', links: [] },
  { date: '8/16/2014', location: 'Half Moon Bay, CA', venue: 'Old Princeton Landing', links: [] },
  { date: '8/22/2014', location: 'Eureka, CA', venue: 'The Siren\'s Song Tavern', links: [] },
  { date: '8/27/2014', location: 'Ashland, OR', venue: 'Club 66', links: [] },
  { date: '8/28/2014', location: 'Grass Valley, CA', venue: 'Pistol Petes', links: [] }
]
%>

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h3>Upcoming Shows</h3>
      <hr>
      <table>
        <thead>
          <tr>
            <th>Date</th><th>Location</th><th>Venue</th><th>Links</th>
          </tr>
        </thead>
        <tbody>
        <% shows.each do |show| %>
          <tr>
            <td><%= show[:date] %></td><td><%= show[:location] %></td><td><%= show[:venue] %></td><td><%= show[:links].map{|l| "<a href=\"#{l}\">#{l}</a>" }.join('<br>') %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
