
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h3>Upcoming Shows</h3>
      <hr>
      <table>
        <thead>
          <tr>
            <th>Date</th><th>Location</th><th>Venue</th><th>Links</th>
          </tr>
        </thead>
        <tbody>
        <% @shows.each do |show| %>
          <tr>
            <td><%= show[:date] %></td><td><%= show[:location] %></td><td><%= show[:venue] %></td><td><%= show[:links].map{|l| "<a href=\"#{l}\">#{l}</a>" }.join('<br>') %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
