
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h3>Upcoming Shows</h3>
      <table>
        <thead>
          <tr>
            <th>Date</th><th>Location</th><th>Venue</th><th>Links</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% # Should link to venue and location %>
            <td>7/13/2014</td><td>Ventura, CA</td><td>Surf Rodeo @ Pierpont Beach</td><td><a href="http://surfrodeo.org" target="_blank">surfrodeo.org</a></td>
          </tr>
          <tr>
            <td>7/29/2014</td><td>San Luis Obispo, CA</td><td>Frog N Peach</td><td></td>
          </tr>
          <tr>
            <td>8/1/2014</td><td>Ojai, CA</td><td>The Village Jester</td><td></td>
          </tr>
          <tr>
            <td>8/2/2014</td><td>Ventura, CA</td><td>Bombay Bar &amp; Grill</td><td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
