<h3>Hot Live</h3>
        <p>
          The Sauce is hot! The third single off <em>Juice</em>, &ldquo;Hot&nbsp;Live&rdquo;, is a driving party jam that captures the high energy we bring to our live performances.
          Check it out on <a href="https://open.spotify.com/track/6tJkueXq6PwYCNKa3sgRch?si=3WfMQbf3TSmcyc2O09YsBQ" target="_blank">Spotify</a>!
        </p>
        <p>
          <a href="https://open.spotify.com/track/6tJkueXq6PwYCNKa3sgRch?si=3WfMQbf3TSmcyc2O09YsBQ" target="_blank"><img src="/images/hotlive_single.jpg"></a>
        </p>