<h3>Hot Live</h3>
        <p>
          The Sauce is hot! Our new single &ldquo;Hot Live&rdquo; is up on <a href="https://open.spotify.com/track/6tJkueXq6PwYCNKa3sgRch?si=3WfMQbf3TSmcyc2O09YsBQ" target="_blank">Spotify</a>! Fresh off our new 15 track full length album dropping August 11th! Don't miss the celebration at the <a href="http://www.ticketfly.com/event/1711681-wordsauce-album-release-party-morro-bay/" target="_blank">Wordsauce album release party at The Siren</a>!
        </p>
        <p>
          <a href="https://open.spotify.com/track/6tJkueXq6PwYCNKa3sgRch?si=3WfMQbf3TSmcyc2O09YsBQ" target="_blank"><img src="/images/hotlive_single.jpg"></a>
        </p>