<h3>New album &ldquo;Juice&rdquo; is Out!</h3>
        <p>
          Its Here! Our second full length album &ldquo;Juice&rdquo; is officially out and available on all your favorite streaming services! Central Coast peeps be sure to catch the <a href="http://www.ticketfly.com/event/1711681-wordsauce-album-release-party-morro-bay/" target="_blank">album release party at The Siren</a>, where you can pick up a special limited edition album package!
          Each hard copy album will come with an 8x8" canvas of the cover art, numbered 1-50 and autographed with CD and liner notes neatly tucked into the underside of the frame! Get them at the <a href="https://thesirenmorrobay.com/" target="_blank">The Siren</a> tonight!
        </p>
        <p>
          <a href="https://open.spotify.com/album/0FfEu1jmKOqN4pB868FZgN" target="_blank"><img src="/images/juice_package.jpg"></a>
        </p>