<h3>Our new album <em>Juice</em> is Out!</h3>
        <p>
          Its here! Our second full length album <em>Juice</em> is officially out and available on <a href="https://open.spotify.com/album/0FfEu1jmKOqN4pB868FZgN" target="_blank">Spotify</a>, <a href="https://itunes.apple.com/us/album/juice/1424244102" target="_blank">iTunes</a>, and all major platforms!
          <em>Juice</em> is a stylistic arrival that has been 8 years in the making, and is sure to have something for music fans of many genres.
        </p>
        <p>
          <a href="https://open.spotify.com/album/0FfEu1jmKOqN4pB868FZgN" target="_blank"><img src="/images/juice_package.jpg"></a>
        </p>