        <h3>Listen to Juice</h3>
        <div class="row">
          <div class="large-8 medium-8 columns">
            <p>
              Available now on <a href="https://open.spotify.com/album/0FfEu1jmKOqN4pB868FZgN" target="_blank">Spotify</a>, <a href="https://itunes.apple.com/us/artist/wordsauce/897730585" target="_blank">iTunes</a>, <a href="https://play.google.com/store/music/artist/Wordsauce?id=Ainnldl3wp5u65c3gj7oyww7p2i&hl=en" target="_blank">Google Play</a>, <a href="https://www.amazon.com/gp/product/B07GB2YHXW/ref=dm_ws_sp_ps_dp" target="_blank">Amazon</a>, and more!
            </p>
            <p>
              Download on <a href="http://wordsaucemusic.bandcamp.com/album/juice" target="_blank"><img src="http://s0.bcbits.com/img/buttons/bandcamp_130x27_white.png"></a>
            </p>
          </div>
          <div class="large-4 medium-4 columns show-for-medium-up">
            <a class="th" href="/images/juice_cover_700.jpg"><img src="/images/juice_cover_150.jpg"></a>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <p>
              Stream on Spotify:
            </p>
            <iframe src="https://open.spotify.com/embed?uri=spotify:album:0FfEu1jmKOqN4pB868FZgN" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </div>
        </div>
