<h3>Locals night at the Fremont!</h3>
<p>
  Dec 14th at the <a href="https://fremontslo.com/">Fremont Theater</a> will be a big one! A limited number of free tickets are available, go to <a href="http://www.bigbigslo.com/locals-night">bigbigslo.com</a> to claim yours!! Let's take this Central Coast music scene to the next level!!
</p>
<a href="http://www.bigbigslo.com/locals-night" target="_blank">
  <img width="560" height="315" src="/images/fremont_flyer_12_14.jpg">
</a>
