<h3>Maybe I</h3>
        <p>
          <a href="http://highsierramusic.com/" target="_blank">High Sierra Music Festival</a> held a contest to give bands like us a chance to perform at their 2018 festival! We found this to be a perfect opportunity for us to release the first single off <em>Juice</em>, &ldquo;Maybe&nbsp;I&rdquo;, as a way of entry into one of our favorite festivals.
        </p>
        <p>
          Thanks to the incredible show of support from our fans, friends and families, we brought home the gold and made our High Sierra Music Festival debut on July 8<sup>th</sup>, 2018!
        </p>
        <div class="flex-video">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/0L17Tp6UORQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <p>Video by <a href="https://respectthefunk.com/" target="_blank">Respect the Funk</a></p>