<%
  gigs = [
    ["wordsauce_highpulp_siren.jpg", "https://thesirenmorrobay.com/event/wordsauce-feat-high-pulp/"],
    ["stoketheworld.jpg", "https://stoketheworld.org/lineup/"],
    ["surfrodeo_2019.jpg", "https://www.surfrodeo.org/"],
    ["flyer_devinthedude_fb.jpg", "https://www.ticketfly.com/event/1853692-devin-dude-morro-bay/"]
  ]

  nextgig = if Date.parse("2019-06-27") >= Date.today then
              0
            elsif Date.parse("2019-06-30") >= Date.today then
              1
            elsif Date.parse("2019-07-14") >= Date.today then
              2
            else
              3
            end


  flyer = gigs[nextgig][0]
  showlink = gigs[nextgig][1]
%>
<p>
  <a href="<%= showlink %>" target="_blank"><img src="/images/summer_2019/<%= flyer %>"></a>
</p>
