        <h3>New music video!</h3>
        <p>We are pleased to announce the release of the first single and video off our upcoming album! Check it out and share it with your friends!</p>
        <div class="flex-video">
          <iframe width="560" height="315" src="//youtube.com/embed/eDVpTtmWwWQ" frameborder="0" allowfullscreen></iframe>
        </div>
        <p>Recorded at Speak Studios <a href="http://www.speakstudioscoop.com/" target="_blank">http://www.speakstudioscoop.com/</a></p>
